a {
    margin-bottom: 20px;
    cursor: pointer;
}

a.disabled {
    pointer-events: none;
    cursor: not-allowed; 
 }


img {
    width:  150px;
    height: 150px;
    object-fit:scale-down;
}

.row .col-2 {
    width: fit-content;
}