.a{
  cursor: pointer;
}

.container-fluid {
  background-color: #212529;
}

.navbar {
  background: #222222;
  color: #f5f3f2;
}

.nav-item::after {
  content: '';
  display: block;
  width: 0px;
  height: 2px;
  background: #ec5626;
  transition: 0.2s;
}

.nav-item:hover::after {
  width: 100%;
}

.navbar-dark .navbar-nav .active>.nav-link,
.navbar-dark .navbar-nav .nav-link ,
.navbar-dark .navbar-nav .show>.nav-link,
.navbar-dark .navbar-nav .nav-link:focus,
.navbar-dark .navbar-nav .nav-link:hover,
.navbar-dark  h5,
.p-2 {
  color: #f5f3f2;
}

.nav-link {
  padding: 20px 5px;
  transition: 0.2s;
}

.dropdown-item:focus,
.dropdown-item:hover {
  background: #c7c4c4;
}

.dropdown-item {
  color: rgb(0, 0, 0);
}

.dropdown-menu a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.d-flex a {
  color : #f5f3f2;
}