<div id="header" class="header d-flex align-items-center fixed-top">
  <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

    <a routerLink="/home" class="logo d-flex align-items-center">
      <!-- <img src="assets/img/home_logo.png" alt=""> -->
      <h5>柔佛州雷州会馆<br>Lui Chew Johor Association</h5>
    </a>

    <nav id="navbar" class="navbar">
      <ul>
        <li><a routerLink="culture/list">雷州文化 <br> Lui Chew Culture</a></li>
        <li><a href="#">Single Post</a></li>
        <li class="dropdown"><a href="#"><span>Categories</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>
          <ul>
            <li><a href="#">Search Result</a></li>
            <li><a href="#">Drop Down 1</a></li>
            <li class="dropdown"><a href="#"><span>Deep Drop Down</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>
              <ul>
                <li><a href="#">Deep Drop Down 1</a></li>
                <li><a href="#">Deep Drop Down 2</a></li>
                <li><a href="#">Deep Drop Down 3</a></li>
                <li><a href="#">Deep Drop Down 4</a></li>
                <li><a href="#">Deep Drop Down 5</a></li>
              </ul>
            </li>
            <li><a href="#">Drop Down 2</a></li>
            <li><a href="#">Drop Down 3</a></li>
            <li><a href="#">Drop Down 4</a></li>
          </ul>
        </li>

        <li><a href="#">About</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
    </nav><!-- .navbar -->

    <div class="position-relative">
      <a href="#" class="mx-2"><span class="bi-facebook"></span></a>
      <a  style="cursor: pointer;" class="mx-2" (click)="onAuthenticated()"><span class="bi-person-circle"></span> {{ isAuthenticated ? 'Logout' : 'Login' }} </a>

      <!-- <a href="#" class="mx-2 js-search-open"><span class="bi-search"></span></a> -->
      <i class="bi bi-list mobile-nav-toggle"></i>

      <!--
      <div class="search-form-wrap js-search-form-wrap">
        <form action="search-result.html" class="search-form">
          <span class="icon bi-search"></span>
          <input type="text" placeholder="Search" class="form-control">
          <button class="btn js-search-close"><span class="bi-x"></span></button>
        </form>
      </div> -->

    </div>

  </div>

</div><!-- End Header -->
