<div class="row">
  <div class="col-12">
    <form [formGroup]="cultureForm" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col-12">
          <button type="submit" class="btn btn-success" [disabled]="!cultureForm.valid">
            存档
          </button>
          <button type="button" class="btn btn-danger" (click)="onCancel()">
            取消
          </button>
          <button type="button" class="btn btn-danger" (click)="onDelete()">
            删除此帖
          </button>
        </div>
      </div>


      <div class="row" formArrayName="headerImage">
        <label for="headerImage">标题图片</label>
        <div *ngFor="let image of headerImageControls; let i = index" class="row">
          <div [formGroupName]="i" class="col-5">
            <img [src]="image.value.result" [alt]="image.value.name" class="img" />
          </div>

          <div class="col-3 delete">
            <button type="button" class="btn btn-danger" (click)="onDeleteHeaderImage(i)"><span id="boot-icon"
                class="bi bi-trash" style="color: rgb(255, 255, 255);">
                删除此图</span></button>
          </div>
          <label> {{ image.value.name }}</label>
        </div>
      </div>

      <!-- <div class="container-fluid" formArrayName="headerImage">
        <label for="headerImage">Header Logo</label>
        <div *ngFor="let image of headerImageControls; let i = index" class="row">
          <div [formGroupName]="i" class="col-2">
            <img [src]="image.value.result" [alt]="image.value.name" class="img" />

            <div class="col-3 delete">
              <button type="button" class="btn btn-light" (click)="onDeleteHeaderImage(i)"><span id="boot-icon"
                  class="bi bi-trash" style="color: rgb(255, 0, 0);">
                  Delete</span></button>
            </div>

            <label> {{ image.value.name }}</label>
          </div>
        </div>
      </div> -->

      <div class="row">
        <div class="col-2">
          <button class="btn btn-primary" type="button" style="width: 50%;"
            (click)="cultureHeaderImageUploader.value = ''; cultureHeaderImageUploader.click()">
            游览
          </button>
        </div>
        <div class="col-10 mt-auto">
          <span>
            {{ headerImgLst.length }} files have been uploaded ( {{ headerImg }} )
          </span>
        </div>
      </div>


      <input id="image" type="file" accept=".png, .jpeg,.jpg" (change)="uploadCultureFile($event, true)" name="image"
        multiple [hidden]="true" #cultureHeaderImageUploader />

      <div class="row">
        <div class="col-12">
          <div class="form-group">
            <label for="header">标题</label>
            <input type="text" id="header" formControlName="header" class="form-control" />
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-1">
          <label for="seq">次序</label>
        </div>
        <div class="col-7">
          <select class="form-select form-select-md mb-3" aria-label=".form-select-md example"
            (change)="changeSeq($event)" formControlName="seq" id="seq">
            <option *ngFor="let c of this.culture" [value]="c.seq">{{c.seq}}</option>
          </select>
        </div>
        <div class="invalid-feedback" *ngIf="seq.errors?.required">
          <sup>*</sup>Please select your seq
        </div>
      </div>


      <div class="row" formArrayName="images">
        <label for="headerImage">图片</label>
        <div *ngFor="let image of imagesControls; let i = index" class="row">
          <div [formGroupName]="i" class="col-3">
            <img [src]="image.value.result" [alt]="image.value.name" class="img" />
          </div>

          <div class="col-3 delete">
            <button type="button" class="btn btn-danger" (click)="onDeleteImage(i)"><span id="boot-icon"
                class="bi bi-trash" style="color: rgb(255, 255, 255);">
                删除此图</span></button>
          </div>
          <label> {{ image.value.name }}</label>
        </div>
      </div>

      <div class="row">
        <div class="col-2">
          <button class="btn btn-primary" type="button" style="width: 50%;"
            (click)="cultureFileUploader.value = ''; cultureFileUploader.click()">
            游览
          </button>
        </div>
        <div class="col-10 mt-auto">
          <span>
            {{ imageList.length }} files have been uploaded ( {{ image }} )
          </span>
        </div>
      </div>


      <input id="image" type="file" accept=".gif,.bmp, .png, .jpeg, .jpg, .pdf"
        (change)="uploadCultureFile($event,false)" name="image" multiple [hidden]="true" #cultureFileUploader />

      <div class="row">
        <div class="col-12" formArrayName="description">
          <label for="description">段落</label>
          <div class="row" *ngFor="let description of descriptionsControls; let i = index" [formGroupName]="i"
            style="margin-top: 10px">
            <div class="flex-container">
              <div class="col-9" style="min-height: 200px;">
                <textarea type="text" id="paragraph" class="form-control" formControlName="paragraph"></textarea>
              </div>
              <div class="delete col-2">
                <button type="button" class="btn btn-danger" (click)="onDeleteParagraph(i)"><span id="boot-icon"
                    class="bi bi-trash" style="color: rgb(255, 255, 255);">
                    删除此段</span></button>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <button type="button" class="btn btn-success" (click)="onAddParagraph()">
                加段落
              </button>
            </div>
          </div>
        </div>
      </div>
      <!-- <div class="row">
        <div class="col-xs-12" formArrayName="ingredients">
          <div
            class="row"
            *ngFor="let ingredientCtrl of ingredientsControls; let i = index"
            [formGroupName]="i"
            style="margin-top: 10px;"
          >
            <div class="col-xs-8">
              <input type="text" class="form-control" formControlName="name" />
            </div>
            <div class="col-xs-2">
              <input
                type="number"
                class="form-control"
                formControlName="amount"
              />
            </div>
            <div class="col-xs-2">
              <button
                type="button"
                class="btn btn-danger"
                (click)="onDeleteIngredient(i)"
              >
                X
              </button>
            </div>
          </div>
          <hr />
          <div class="row">
            <div class="col-xs-12">
              <button
                type="button"
                class="btn btn-success"
                (click)="onAddIngredient()"
              >
                Add Ingredient
              </button>
            </div>
          </div>
        </div>
      </div> -->
    </form>
  </div>
</div>