<!-- <div class="container">
    <article class="row mt-5 no-gutters">
        <div class="col-md-6">
            <div class="image-wrapper float-start pe-4 " style="height:fit-content;border-style: solid;">
                <img src="assets/img/HomePageImage.jpg" alt="" width="150px" height="150px">
            </div>
            <div class="single-post-content-wrapper p-3" style="height:fit-content;border-style: solid;">
                <p>公元1913年，前清人士郑茂兰先贤在麻坡发起组织雷州帮，领导雷州人、保护雷州人以及替同乡解决纠纷。在民国八年，雷州帮领袖们在庆贺麻坡广东会馆成立时，见各色人都有自己的会馆，连商会也组织俱乐部。便将帮改为会馆，定名为麻坡雷州会馆，雷州帮实乃雷州会馆的前身。当年雷侨领袖为郑茂兰、陈其祥、陈善庆、陈自祥、吴国平、杨亚升、庄亚标、郑邦圣、陈其彰等，它们除了协助雷侨，也为筹建会馆而努力。</p>
                <p>在民国十三年七月十一日，郑茂兰先贤终未能完成大志而西归，其余雷侨领袖陈善庆、李昌五、陈其彰等。在民国十五年即公元1925年重新出发，征得同乡陈永祝献出麻坡五马路、即今日JalanArab门牌76号，约五千多方尺之地作为建馆之用。</p>
            </div>
        </div>
    </article>
</div> -->

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <img class="img-responsive" src="assets/img/HomePageHeader.png" >
        </div>

        <div class="col-sm-12">
            <figure class="figure w-50 float-start m-3">
                <img src="assets/img/HomePageImage.jpg" class="figure-img img-fluid rounded img-thumbnail"
                    alt="HomePageImage.jpg">
                <figcaption class="figure-caption text-center">1995年8月7日 - 麻坡雷州会馆同乡联谊大会留影</figcaption>
            </figure>
            <div class="col-sm-12">
                <div class="row">
                    <div class="col-sm-12">
                        <h2>柔佛州雷州会馆史略</h2>
                    </div>
                </div>
            </div>
            <p>公元1913年，前清人士郑茂兰先贤在麻坡发起组织雷州帮，领导雷州人、保护雷州人以及替同乡解决纠纷。在民国八年，雷州帮领袖们在庆贺麻坡广东会馆成立时，见各色人都有自己的会馆，连商会也组织俱乐部。便将帮改为会馆，定名为麻坡雷州会馆，雷州帮实乃雷州会馆的前身。当年雷侨领袖为郑茂兰、陈其祥、陈善庆、陈自祥、吴国平、杨亚升、庄亚标、郑邦圣、陈其彰等，它们除了协助雷侨，也为筹建会馆而努力。
            </p>
            <p>在民国十三年七月十一日，郑茂兰先贤终未能完成大志而西归，其余雷侨领袖陈善庆、李昌五、陈其彰等。在民国十五年即公元1925年重新出发，征得同乡陈永祝献出麻坡五马路、即今日JalanArab门牌76号，约五千多方尺之地作为建馆之用。
            </p>
            <p>在公元1932年，向政府提呈新的组织章程，而在1934年4月14日获得柔佛州华民政务司批准，在麻坡现址上建起了一座二楼独立式会馆，楼下是神殿，安有八仙桌，可供开会用。楼上有后房和前房，是供雷侨借宿用。那时像这样的建筑物，在五马路，可说只此一家。
            </p>
            <p>公元1934年9月11日，会馆举行落成开幕典礼，过后便以此纪念日庆祝周年。当时主席为陈善庆，陈善庆先贤之后接任主席的是陈永祝。到陈炳祥任主席时，开始广招柔佛州内同乡成为会员，并将麻坡雷州会馆改名为柔属麻坡雷州会馆，意即柔佛州雷州同乡在麻坡的会馆。
            </p>
            <p>由于会员人数日益增加，原有会馆已不敷应用，I960年发起购买新会所筹款运动。获得符之田乡贤在精神和财力方面的全面支持。费时八载，共耗费八万余元，新厦终于在农历巳酉年四月二十七日落成，位于丝丝街门牌46号。购买这座新会馆作为行政楼，每个同乡都尽了最大的能力，最劳苦功高的是陈德通和王亚三，当时只有他们各有一辆minor私家车，到外地募捐都用他们的车。
            </p>
            <p>筹款大功臣计有：符之田、谢文瑞、陈炳祥、庄孝纯、庄亚乌、谢云腾、陈绍富、陈培荣、许明曰、李崙舌、许光维、吴日兴、邱子臣、黄裕聘等人。
            </p>
            <p>公元1969年4月27日新厦行政楼正式启用，适逢5月13日，种族冲突，没有举行任何庆祝仪式。新任主席谢文瑞对会馆不合时宜的章程条文提出修改，公元1974年许亚权在董事会提出成立奖励金小组。
            </p>
            <p>公元1994年谢文瑞退休，许亚权众望所归被选为主席，便成立会员局，修改章程将柔属麻坡雷州会馆修正为柔佛州雷州会馆。取消普通会员籍，改为永久会员籍。取消会员年捐、和所有香油捐。重新订制奖励金细则，除学业成绩奖外，另设学术奖，体育奖、和杰出成绩奖。也定于农历正月初一下午一时，轮流在各区举行新春大团拜以联络各地同乡。
            </p>
            <p>2003 年董事会寻求会员大会通过议案，动用会馆存款将五马路旧馆改建为商业大厦，以增加收入，造福同乡。结果获得一致通过，董事会便紧锣密鼓商讨策划，进行申请手续。建厦图测批准后，由主席许亚权和建委会主席陈姚杉率领董事会成员在 2-9-2003 年早上吉时举行动土仪式。新商业大厦定名为雷州大厦。雷州大厦四个大字是书法家潘永明同乡所写。大厦于30-6-2004 年竣工，于28-11-2004 年恭请卫生部长高级拿督蔡锐明国会议员及献地人后裔陈春发乡贤联合主持开幕仪式。是日早上举办五馆交流会暨雷青论坛、晚上在巴口輔南华小礼堂设盛大宴会招待近 2000 名海内外嘉宾。
            </p>
            <p>2005 年第六任主席许亚权卸任，第七任主席为陈姚杉（2005- 2011)，现第八任主席是吴勇。公元2012年会员大会通过提案，在峇株巴辖物色一座两层楼商店，楼下出租，楼上作为同乡联络活动之用。终于在2013年，买下在峇株巴辖Jalan Shah Bandar 一座理想的商业大厦，并定于2014 年庆祝一百周年馆庆时举行开幕典礼，并启动一个永续的百万元清寒子弟教育基金计划。
            </p>
            <p>本馆董事会追溯历史，先贤在1913年创立雷州帮，随后改名注册为雷州会馆，至今已有一百周岁矣。如此建树，壮哉雷州同乡！</p>
        </div>

        <div class="col-sm-12">
            <hr />
        </div>
    </div>
    <div class="row" *ngIf="user != null">
    <!-- <div class="row"> -->
        <div class="col-12">
            <button class="btn btn-success" (click)="onAddChairman()">New Chairman</button>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <div class="row">
                <div class="col-3" class="header-img">
                    <img src="assets/img/headerLogo.png" alt="ChairmanHeaderLogo" class="img-responsive" />
                    <p class="header-text">历届主席</p>
                </div>

                <app-chairman-detail *ngFor="let c of chairmans" [chairman]="c"></app-chairman-detail>
            </div>
        </div>
    </div>
</div>


<!-- <div class="row">
        <div class="col-sm-12">
            <img class="img-responsive" src="assets/img/HomePageHeader.png" >
        </div>

        <div class="col-sm-12">
            <figure class="figure w-25 float-start m-3" style="border-style:solid;">
                <img src="assets/img/HomePageImage.jpg" class="figure-img img-fluid rounded img-thumbnail" alt="Alt text.">
                <figcaption class="figure-caption text-center">Visible text.</figcaption>
            </figure>
            <div class="col-sm-7">
                <div class="row">
                    <div class="col-sm-12">
                        <h2>柔佛州雷州会馆史略</h2>
                    </div>
                </div> 
            </div>
            <p>公元1913年，前清人士郑茂兰先贤在麻坡发起组织雷州帮，领导雷州人、保护雷州人以及替同乡解决纠纷。在民国八年，雷州帮领袖们在庆贺麻坡广东会馆成立时，见各色人都有自己的会馆，连商会也组织俱乐部。便将帮改为会馆，定名为麻坡雷州会馆，雷州帮实乃雷州会馆的前身。当年雷侨领袖为郑茂兰、陈其祥、陈善庆、陈自祥、吴国平、杨亚升、庄亚标、郑邦圣、陈其彰等，它们除了协助雷侨，也为筹建会馆而努力。</p>
            <p>在民国十三年七月十一日，郑茂兰先贤终未能完成大志而西归，其余雷侨领袖陈善庆、李昌五、陈其彰等。在民国十五年即公元1925年重新出发，征得同乡陈永祝献出麻坡五马路、即今日JalanArab门牌76号，约五千多方尺之地作为建馆之用。</p>
            <p>在公元1932年，向政府提呈新的组织章程，而在1934年4月14日获得柔佛州华民政务司批准，在麻坡现址上建起了一座二楼独立式会馆，楼下是神殿，安有八仙桌，可供开会用。楼上有后房和前房，是供雷侨借宿用。那时像这样的建筑物，在五马路，可说只此一家。</p>
            <p>公元1934年9月11日，会馆举行落成开幕典礼，过后便以此纪念日庆祝周年。当时主席为陈善庆，陈善庆先贤之后接任主席的是陈永祝。到陈炳祥任主席时，开始广招柔佛州内同乡成为会员，并将麻坡雷州会馆改名为柔属麻坡雷州会馆，意即柔佛州雷州同乡在麻坡的会馆。</p>
            
        </div>
    </div> -->

<!-- <div class="row">
        <div class="col-sm-12">
            <img class="img-responsive" src="assets/img/HomePageHeader.png" >
        </div>
        <div class="col-sm-5" style="border-style: solid;height: fit-content;">
            <img class="img-responsive" src="assets/img/HomePageImage.jpg" width="100%" >
        </div>
        <div class="col-sm-7">
            <div class="row">
                <div class="col-sm-6">
                    <h2>柔佛州雷州会馆史略</h2>
                </div>
                <div class="col-sm-6">
                    <h3 class="pull-right">
                    </h3>
                </div>
            </div> 
        </div>

        <div class="col-sm-12" style="float: none;border-style: solid;">
            <p>公元1913年，前清人士郑茂兰先贤在麻坡发起组织雷州帮，领导雷州人、保护雷州人以及替同乡解决纠纷。在民国八年，雷州帮领袖们在庆贺麻坡广东会馆成立时，见各色人都有自己的会馆，连商会也组织俱乐部。便将帮改为会馆，定名为麻坡雷州会馆，雷州帮实乃雷州会馆的前身。当年雷侨领袖为郑茂兰、陈其祥、陈善庆、陈自祥、吴国平、杨亚升、庄亚标、郑邦圣、陈其彰等，它们除了协助雷侨，也为筹建会馆而努力。</p>
            <p>在民国十三年七月十一日，郑茂兰先贤终未能完成大志而西归，其余雷侨领袖陈善庆、李昌五、陈其彰等。在民国十五年即公元1925年重新出发，征得同乡陈永祝献出麻坡五马路、即今日JalanArab门牌76号，约五千多方尺之地作为建馆之用。</p>
            <p>在公元1932年，向政府提呈新的组织章程，而在1934年4月14日获得柔佛州华民政务司批准，在麻坡现址上建起了一座二楼独立式会馆，楼下是神殿，安有八仙桌，可供开会用。楼上有后房和前房，是供雷侨借宿用。那时像这样的建筑物，在五马路，可说只此一家。</p>
            <p>公元1934年9月11日，会馆举行落成开幕典礼，过后便以此纪念日庆祝周年。当时主席为陈善庆，陈善庆先贤之后接任主席的是陈永祝。到陈炳祥任主席时，开始广招柔佛州内同乡成为会员，并将麻坡雷州会馆改名为柔属麻坡雷州会馆，意即柔佛州雷州同乡在麻坡的会馆。</p>
        </div>

    </div> -->