<footer id="footer" class="footer">
  <div class="footer-content">
    <div class="container">

      <div class="row g-5">
        <div class="col-lg-7">
          <h3 class="footer-heading">地图<br>Sitemap</h3>
          <!-- <p>公元1913年，前清人士郑茂兰先贤在麻坡发起组织雷州帮，领导雷州人、保护雷州人以及替同乡解决纠纷。在民国八年，雷州帮领袖们在庆贺麻坡广东会馆成立时，见各色人都有自己的会馆，连商会也组织俱乐部。便将帮改为会馆，定名为麻坡雷州会馆，雷州帮实乃雷州会馆的前身。当年雷侨领袖为郑茂兰、陈其祥、陈善庆、陈自祥、吴国平、杨亚升、庄亚标、郑邦圣、陈其彰等，它们除了协助雷侨，也为筹建会馆而努力。在民国十三年七月十一日，郑茂兰先贤终未能完成大志而西归，其余雷侨领袖陈善庆、李昌五、陈其彰等。在民国十五年即公元1925年重新出发，征得同乡陈永祝献出麻坡五马路、即今日JalanArab门牌76号，约五千多方尺之地作为建馆之用。在公元1932年，向政府提呈新的组织章程，而在1934年4月14日获得柔佛州华民政务司批准，在麻坡现址上建起了一座二楼独立式会馆.</p> -->
          <!-- <google-map  [center]="center" [zoom]="zoom">
            <map-marker *ngFor="let markerPosition of markerPositions" [position]="markerPosition"
              [options]="markerOptions"></map-marker>
          </google-map> -->

          <!-- <div id="map-container-google-1" class="z-depth-1-half map-container" style="height: 500px">
            <iframe src="https://maps.google.com/maps?q=2.0449448, 102.5670603&t=&z=18&ie=UTF8&iwloc=&output=embed" frameborder="0"
              style="border:0" allowfullscreen></iframe>
          </div> -->

          <div class="mapouter">
            <div class="gmap_canvas"><iframe class="gmap_iframe" width="100%" frameborder="0" scrolling="no"
                marginheight="0" marginwidth="0"
                src="https://maps.google.com/maps?width=600&amp;height=500&amp;hl=en&amp;q=麻坡雷州會館46, Jalan Sisi, Pekan Muar, 84000 Muar, Johor&amp;t=&amp;z=18&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"></iframe>
            </div>
          </div>
        </div>

        <div class="col-lg-5">
          <h3 class="footer-heading">本会馆联络资料<br>Contact Us</h3>
          <ul class="footer-links footer-blog-entry list-unstyled">
            <li>
              <p><strong>地址 Address</strong><br>46, Tingkat 2&3, Jalan Sisi,<br>84000 Muar, Johor, Malaysia</p>
            </li>

            <li>
              <p><strong>电邮 Email</strong><br>luichew@myjaring.com.my</p>
            </li>

            <li>
              <p><strong>电话 Phone</strong><br>+606 - 953 9653</p>
            </li>

            <li>
              <p><strong>传真 Fax</strong><br>+606 - 954 0477</p>
            </li>

            <!-- <li>
              <a href="#" class="d-flex align-items-center">
                <img src="assets/img/post-sq-2.jpg" alt="" class="img-fluid me-3">
                <div>
                  <div class="post-meta d-block"><span class="date">Culture</span> <span class="mx-1">&bullet;</span> <span>Jul 5th '22</span></div>
                  <span>What is the son of Football Coach John Gruden, Deuce Gruden doing Now?</span>
                </div>
              </a>
            </li> -->
          </ul>

        </div>
      </div>
    </div>
  </div>

  <div class="footer-legal">
    <div class="container">

      <div class="row justify-content-between">
        <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
          <div class="copyright">
            © Copyright <strong><span>Lui Chew Association</span></strong>. All Rights Reserved
          </div>

          <div class="credits">
            Designed by Pua Jia Shun
          </div>

        </div>

        <!-- <div class="col-md-6">
          <div class="social-links mb-3 mb-lg-0 text-center text-md-end">
            <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
            <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
            <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
            <a href="#" class="google-plus"><i class="bi bi-skype"></i></a>
            <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
          </div>
        </div> -->

      </div>

    </div>
  </div>
</footer>