<a [routerLink]="[culture.key]" routerLinkActive="active" class="list-group-item clearfix"
  [class.disabled]="user == null">
  <!-- <div class="row">
    <div
      *ngFor="let image of culture.images let i = index"
      class="col-3"
    >
      <div [formGroupName]="i">
        <img
          [src]="image.key."
          class="img-responsive"
          style="height: 100%; width: 100%; object-fit: contain"
        />
        <label *ngIf="images.length > 1"> {{ image.value.name }}</label>
      </div>
    </div>
  </div> -->



  <div class="container-fluid">
    <div class="row">
      <div *ngFor="let imgHeader of culture.headerImage" class="header-img">
        <img [src]="imgHeader.url" alt="{{ imgHeader.name }}" />
        <p class="header-text">{{ culture.header }}</p>
      </div>
    </div>

    <div class="row">
      <div class="col-xl-3 col-lg-3 col-md-3">
        <div style="margin-bottom: 10px;" *ngFor="let images of culture.images; let j = index">
          <img [src]="images.url" alt="{{ images.name }}" class="img-responsive" />
        </div>
      </div>
      <div class="col-xl-6 col-lg-6 col-md-6">
        <p class="text-justify" *ngFor="let desc of culture.description; let i = index">
          {{ desc.paragraph }}
        </p>
      </div>
    </div>
  </div>
</a>