<div class="row">
  <div class="col-12">
    <form [formGroup]="chairmanForm" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col-12">
          <button type="submit" class="btn btn-success" [disabled]="!chairmanForm.valid">
            存档
          </button>
          <button type="button" class="btn btn-danger" (click)="onCancel()">
            取消
          </button>
          <button type="button" class="btn btn-danger" (click)="onDelete()" [disabled]="chairmanForm.value.key !=null ">
            删除此帖
          </button>
        </div>
      </div>

      <div class="container-fluid" formArrayName="images">
        <div class="row">
          <label>图片</label>
          <div *ngFor="let image of imagesControls; let i = index" class="row">
            <div [formGroupName]="i" class="col-2">
              <img [src]="image.value.result" [alt]="image.value.name" class="img" />
            </div>

            <div class="col-3 delete">
              <button type="button" class="btn btn-danger" (click)="onDeleteImage(i)"><span id="boot-icon"
                  class="bi bi-trash" style="color: rgb(255, 255, 255);">
                  删除此图</span></button>
            </div>
            <label> {{ image.value.name }}</label>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-2">
          <button class="btn btn-primary" type="button" style="width: 50%;"
            (click)="imagesUploader.value = ''; imagesUploader.click()">
            游览
          </button>
        </div>
        <div class="col-10 mt-auto">
          <span>
            {{ images.length }} files have been uploaded ( {{ image }} )
          </span>
        </div>
      </div>


      <input id="image" type="file" accept=".png, .jpeg,.jpg" (change)="uploadPhoto($event)" name="image" hidden="true"
        #imagesUploader />

      <div class="row">
        <div class="col-12">
          <div class="form-group">
            <label for="title">头衔</label>
            <input type="text" id="title" formControlName="title" class="form-control" />
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-12">
          <div class="form-group">
            <label for="name">姓名</label>
            <input type="text" id="name" formControlName="name" class="form-control" />
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-12">
          <div class="form-group">
            <label for="date">任期</label>
            <input type="text" id="date" formControlName="date" class="form-control" />
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="form-group">
            <label for="description">描述</label>
            <input type="text" id="description" formControlName="description" class="form-control" />
          </div>
        </div>
      </div>


      <div class="row">
        <div class="col-1">
          <label for="seq">次序</label>
        </div>
        <div class="col-7">
          <select class="form-select form-select-md mb-3" aria-label=".form-select-md example"
            (change)="changeSeq($event)" formControlName="seq" id="seq">
            <option *ngFor="let c of this.chairman" [value]="c.seq">{{c.seq}}</option>
          </select>
        </div>
        <div class="invalid-feedback" *ngIf="seq.errors?.required">
          <sup>*</sup>Please select your seq
        </div>
      </div>
    </form>
  </div>
</div>