<div class="row" *ngIf="user != null">
  <div class="col-12">
    <button class="btn btn-success" (click)="onNewCulture()">添加文化帖</button>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <app-culture-detail
      *ngFor="let cultureEl of cultures"
      [culture]="cultureEl"></app-culture-detail>
  </div>
</div>

<!-- <div class="list row">
  <div class="col-md-6">
    <h4>Tutorials List</h4>
    <ul class="list-group">
      <li
        class="list-group-item"
        *ngFor="let culture of cultures; let i = index"
        [class.active]="i == currentIndex"
      >
        {{ culture.header }}
      </li>
    </ul>

    <button class="m-3 btn btn-sm btn-danger" (click)="removeAllTutorials()">
      Remove All
    </button>
  </div>
   <div class="col-md-6">
    <div *ngIf="currentTutorial">
      <app-tutorial-details
        (refreshList)="refreshList()"
        [tutorial]="currentTutorial"
      ></app-tutorial-details>
    </div>

    <div *ngIf="!currentTutorial">
      <br />
      <p>Please click on a Tutorial...</p>
    </div>
  </div>
</div> -->
